<h1 mat-dialog-title>{{artists.name}}</h1>
<div mat-dialog-content>

    <!-- Display Artist Infos -->
    <div class="fadein">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <a href="{{ artists.url }}" target="_blank"><img src="{{ artists.image }}" alt="artistsImage"></a>
                    </figure>
                </div>
                <div class="media-content is-clipped">
                    <div class="content">
                        <a class="has-text-info" href="{{ artists.url }}" target="_blank"><strong>{{ artists.name}}</strong></a>
                        <br>
                        <div innerHTML="{{ artists.summary }}"></div>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Listeners </span>
                                    <span class="tag is-info">{{ artists.listeners | number }}</span>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Playcount</span>
                                    <span class="tag is-info"> {{ artists.playcount | number }}</span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>

        <hr>

        <!-- Display Tracks -->
        <div class="toptracks"><h2 class="title has-text-centered">Top 5 Tracks</h2></div>
        <div class="card-container">
            <div *ngFor="let track of tracksDialog">
                <a class="card" id="mycard" target="_blank" rel="noopener">
                    <div matBadge="{{ track.rank }}" matBadgeSize="large" matBadgeColor="warn" matBadgeOverlap="false" class="demo-section">
                        <a href="{{ track.url }}" target="_blank"><img src="{{ track.image }}" class="card-img-top"alt="tracksImage"/></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ track.name }}</h5>
                        <p class="card-text">Playcount: {{ track.playcount | number }}</p>
                    </div>
                </a>
            </div>
        </div>

        <hr>

        <!-- Display Albums -->
        <div class="toptracks"><h2 class="title has-text-centered">Top 5 Albums</h2></div>
        <div class="card-container">
            <div *ngFor="let album of albumsDialog">
                <a class="card" id="mycard" target="_blank" rel="noopener">
                    <div matBadge="{{ album.rank }}" matBadgeSize="large" matBadgeColor="warn" matBadgeOverlap="false" class="demo-section">
                        <a href="{{ album.url }}" target="_blank"><img src="{{ album.image }}" class="card-img-top" alt="albumsImage" /></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ album.name }}</h5>
                        <p class="card-text">Playcount: {{ album.playcount | number }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>