<h1 mat-dialog-title>Compare Artists </h1>
<div mat-dialog-content>

    <div class="parent">
        <div class="div1">
            <div class="buttonform">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Search first Artist</mat-label>
                        <input matInput type="text" name="searchStr" [(ngModel)]="searchStr"
                            placeholder="Search Artists" required>
                            <button *ngIf="searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''">
                                <mat-icon>close</mat-icon>
                              </button>
                    </mat-form-field>
                </form>
            </div>
            <button mat-raised-button color="warn" (click)="compareArtist1(searchStr)"
                [disabled]="!searchStr">Search</button>

            <div class="fadein">
                <!-- Display Artist1 -->
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <a href="{{ artist1.url }}" target="_blank"><img src="{{ artist1.image }}"
                                        alt="artist1Image"></a>
                            </figure>
                        </div>
                        <div class="media-content is-clipped">
                            <div class="content">
                                <a class="has-text-info" href="{{ artist1.url }}" target="_blank"><strong>{{
                                        artist1.name
                                        }}</strong></a>
                                <br>
                                <div innerHTML="{{ artist1.summary }}"></div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Listeners </span>
                                            <span class="tag is-info">{{ artist1.listeners | number }}</span>
                                        </div>
                                    </div>
                                    <div class="level-item">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Playcount</span>
                                            <span class="tag is-info"> {{ artist1.playcount | number }}</span>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>


        <div class="div2">
            <div class="buttonform">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Search second Artist</mat-label>
                        <input matInput type="text" name="searchStr2" [(ngModel)]="searchStr2"
                            placeholder="Search Artists" required>
                        <button *ngIf="searchStr2" matSuffix mat-icon-button aria-label="Clear" (click)="searchStr2=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </div>
            <button mat-raised-button color="warn" (click)="compareArtist2(searchStr2)"
                [disabled]="!searchStr2">Search</button>

            <div class="fadein">
                <!-- Display Artist 2 -->
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <a href="{{ artist2.url }}" target="_blank"><img src="{{ artist2.image }}"
                                        alt="artist2Image"></a>
                            </figure>
                        </div>
                        <div class="media-content is-clipped">
                            <div class="content">
                                <a class="has-text-info" href="{{ artist2.url }}" target="_blank"><strong>{{
                                        artist2.name
                                        }}</strong></a>
                                <br>
                                <div innerHTML="{{ artist2.summary }}"></div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Listeners </span>
                                            <span class="tag is-info">{{ artist2.listeners | number }}</span>
                                        </div>
                                    </div>
                                    <div class="level-item">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Playcount</span>
                                            <span class="tag is-info"> {{ artist2.playcount | number }}</span>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>






</div>